<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="som.openapitouml.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="som.openapitouml.menu1"
               label="OpenAPItoUML"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="som.openapitouml.popup.actions.GenerateClassDiagramAction"
               enablesFor="1"
               id="som.openapitouml.action1"
               label="Generate a Class Diagram"
               menubarPath="som.openapitouml.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
