<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="Open API to UML">
            <command
                  commandId="edu.uoc.som.openapitouml.ui.popup.handlers.ConvertToClassDiagram"
                  label="Generate a Class diagram"
                  style="push"
                  tooltip="Generate Class diagram from an Open API definition">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="json">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.uoc.som.openapitouml.ui.handlers.ConvertToClassDiagram"
            id="edu.uoc.som.openapitouml.ui.popup.handlers.ConvertToClassDiagram"
            name="Generate Class diagram">
      </command>
   </extension>

</plugin>
