<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="images/logo-small.png"
               label="WAPIml">
            <command
                  commandId="edu.uoc.som.wapiml.ui.handlers.ConvertToClassDiagramJSON"
                  label="Generate a class diagram"
                  style="push"
                  tooltip="Generate a class diagram from an OpenAPI definition">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="json">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="edu.uoc.som.wapiml.ui.handlers.ConvertToClassDiagramYaml"
                  label="Generate a class diagram"
                  style="push"
                  tooltip="Generate a class diagram from an OpenAPI definition">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="yaml">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="edu.uoc.som.wapiml.ui.handlers.ConvertToJson"
                  label="Generate an OpenAPI definition in JSON format"
                  style="push"
                  tooltip="Generate an OpenAPI definition from an annotated UML model">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="uml">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="edu.uoc.som.wapiml.ui.handlers.ConvertToYaml"
                  label="Generate an OpenAPI definition in Yaml format"
                  style="push"
                  tooltip="Generate an OpenAPI definition from an annotated UML model">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="uml">
                        </test>
                     </and>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.uoc.som.wapiml.ui.handlers.ConvertToClassDiagramJSON"
            id="edu.uoc.som.wapiml.ui.handlers.ConvertToClassDiagramJSON"
            name="Generate a class diagram">
      </command>
      <command
            defaultHandler="edu.uoc.som.wapiml.ui.handlers.ConvertToJson"
            id="edu.uoc.som.wapiml.ui.handlers.ConvertToJson"
            name="Generate an OpenAPI definition in JSON format">
      </command>
      <command
            defaultHandler="edu.uoc.som.wapiml.ui.handlers.ConvertToClassDiagramYaml"
            id="edu.uoc.som.wapiml.ui.handlers.ConvertToClassDiagramYaml"
            name="Generate a class diagram">
      </command>
      <command
            defaultHandler="edu.uoc.som.wapiml.ui.handlers.ConvertToYaml"
            id="edu.uoc.som.wapiml.ui.handlers.ConvertToYaml"
            name="Generate an OpenAPI definition in Yaml format">
      </command>
   </extension>

</plugin>
